@import "tailwindcss";


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #1f2937;
}


section {
  padding: 80px 20px;
}


.container {
  max-width: 1200px;
  margin: auto;
}